schema/contentmetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2023 Society of Motion Picture and Television Engineers. All rights reserved. -->
<xs:schema xmlns="http://smpte-ra.org/schemas/2021/2023/BXF" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pmcp="http://www.atsc.org/XMLSchemas/pmcp/2007/3.1" targetNamespace="http://smpte-ra.org/schemas/2021/2023/BXF" elementFormDefault="qualified" attributeFormDefault="unqualified" version="8.100">
	<xs:include schemaLocation="audio.xsd"/>
	<xs:include schemaLocation="bxfcaptions.xsd"/>
	<xs:include schemaLocation="bxfcontentid.xsd"/>
	<xs:include schemaLocation="datacontent.xsd"/>
	<xs:include schemaLocation="location.xsd"/>
	<xs:include schemaLocation="video.xsd"/>
	<xs:include schemaLocation="macro.xsd"/>
	<xs:include schemaLocation="bxftypes.xsd"/>
	<xs:include schemaLocation="qualitycontrol.xsd"/>
	<xs:include schemaLocation="contentdelivery.xsd"/>
	<xs:complexType name="AlternateAudioContent">
		<xs:annotation>
			<xs:documentation>Used to provide alternate audio only media information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContentId" type="BxfContentId"/>
			<xs:element name="Name" type="BxfText" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Genre" type="BxfText" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Description" type="BxfText" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UsagePolicy" type="UsagePolicy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Business rules expected to be applied when the content is used at this location</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Audio" type="Audio" minOccurs="0"/>
			<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="Action-ErrorGroup"/>
	</xs:complexType>
	<xs:complexType name="BaseMedia">
		<xs:annotation>
			<xs:documentation>Enumerates the way content is stored or the method used to transmit</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="BaseBand">
					<xs:annotation>
						<xs:documentation>Used to describe the attributes of media that is still in the process of production prior to transmission or release for final viewing.  (Added Access Services in v6.0) (Added AcceptedQCIssues in v7.0)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Audio" type="Audio" minOccurs="0"/>
							<xs:element name="Video" type="Video" minOccurs="0"/>
							<xs:element name="Captions" type="BxfCaptions" minOccurs="0"/>
							<xs:element name="VerticalIntervalData" type="VerticalIntervalData" minOccurs="0"/>
							<xs:element name="AccessServices" type="AccessServices" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Expands Captioning options and other access services. (v6.0)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="AcceptedQCIssues" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Used to describe QC issues that will be present on the content, but have been approved or accepted previously. (v7.0)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="BxfText"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="compressionBitRate" type="xs:decimal">
							<xs:annotation>
								<xs:documentation>megabits per second</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="PrecompressedTS">
					<xs:annotation>
						<xs:documentation>Used to describe the attributes of the media that is to be transmitted or delivered for viewing as a complete package.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TSAudio" type="TSAudio" minOccurs="0"/>
							<xs:element name="TSVideo" type="TSVideo" minOccurs="0"/>
							<xs:element name="TSCaptioning" type="xs:boolean" minOccurs="0">
								<xs:annotation>
									<xs:documentation>If true indicates that CEA-708-C captioning is present.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TSData" minOccurs="0">
								<xs:complexType>
									<xs:choice>
										<xs:element name="Null"/>
										<xs:element name="SeparatePID">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="DataPIDValue" type="xs:integer"/>
													<xs:element name="DataEncapsulation">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="ETSIpamsampling"/>
																<xs:enumeration value="ETSIteletext"/>
																<xs:enumeration value="ETSIvps"/>
																<xs:enumeration value="ETSIwss"/>
																<xs:enumeration value="SCTEamol"/>
																<xs:enumeration value="SCTEtvguide"/>
																<xs:enumeration value="SCTEvitc"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DataContent" type="DataContent"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="compressionBitRate" type="xs:decimal">
							<xs:annotation>
								<xs:documentation>megabits per second</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="ProfileMacro" type="Macro">
					<xs:annotation>
						<xs:documentation>Used to describe a macro event in place of normal audio/video.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ContentDelivery" type="ContentDelivery">
					<xs:annotation>
						<xs:documentation>Used to specify the method by which media content should be created and formatted for downstream use by a designated media company. AirReadyMaster added (v5.0) and LibraryMaster added (v6.0) and minor modifications made (v7.0).</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="Action-ErrorGroup"/>
	</xs:complexType>
	<xs:complexType name="BillBoard">
		<xs:annotation>
			<xs:documentation>Used to describe the different attributes of one or more BillBoards</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContentId" type="BxfContentId">
				<xs:annotation>
					<xs:documentation>Use only if multiple billboard elements.  If only one then repeat Id from previous level.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillBoardName" type="BxfText">
				<xs:annotation>
					<xs:documentation>Name of BillBoard element</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Copy" type="BxfText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If just short copy, include in this element , otherwise, link full script in ScriptFile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScriptFile" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Use to place a text file containing the full script for the billboard.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="xs:anyType">
							<xs:attribute name="fileName"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="LogoGraphicFile" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Use to place a graphic file that contains the BillBoard to be displayed on air.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="xs:anyType">
							<xs:attribute name="fileName" type="xs:string"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Media" type="Media" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If additional media records are associated with the billboard such as audio or video, decribe them in this area and assign separate contentIds.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillBoardComment" type="BxfText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additional instructions for handling the billboard</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContentDetail">
		<xs:annotation>
			<xs:documentation>Description of people, events, sports results, and word tags to search for things that represent this media (v5.0).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContentTags" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Associated descriptive metadata concerning the specific action or event captured on the media for a designated period of time, and optionally its location.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KeywordTag" type="BxfText" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Actual item, person, event, or other occurance that is found in the media that can be tagged with a specific searchable word.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Category" type="BxfText" minOccurs="0">
							<xs:annotation>
								<xs:documentation>User defined organizational tool to categorize the specific tagged area.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Description" type="BxfText" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Additional descriptive text of the tagged event or section of the media.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LocationOnMedia" type="BxfDuration" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The specific start location and length of time that the tag refers to on the media.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EventDateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Used to describe the date and time of the tagged event.  Particularly useful where a media contains multiple events, as in a compilation.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="BxfDateTime"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SportsDetail" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>When tagged events happen to also be sports related, this allows the additional details associated with most sporting events,</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="EventType" type="BxfText">
										<xs:annotation>
											<xs:documentation>What sport or activity that is represented during the tagged period.  (eg football, tennis, golf, etc.)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EventName" type="BxfText" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The specific name of the event or part of an event that is tagged. (eg. World Cup Finals)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EventParticipants" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>The individuals or teams associated with the tagged sports event.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Name" type="BxfContact">
													<xs:annotation>
														<xs:documentation>The name of the person associated with the credit, though additional information is available through full use of full contact details.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Role" type="BxfText">
													<xs:annotation>
														<xs:documentation>The position or role performed for the tagged media in the sporting event.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Grouping" type="BxfText" minOccurs="0">
													<xs:annotation>
														<xs:documentation>If part of a team or other group that is competing, the name of that group.</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="History" type="BxfText" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Historical details associated with the particular event that is tagged.</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Results" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Details concerning the results of the competition such as score, finish position (ranking), time or other statistics, extended description and additional results tagging.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence maxOccurs="unbounded">
												<xs:element name="EventResult" type="BxfText"/>
												<xs:element name="Ranking" type="BxfText" minOccurs="0"/>
												<xs:element name="RankName" type="BxfText" minOccurs="0"/>
												<xs:element name="StatReference" minOccurs="0">
													<xs:complexType>
														<xs:sequence maxOccurs="unbounded">
															<xs:element name="Stat" type="BxfText" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="EventResultsDescription" type="BxfText" minOccurs="0"/>
												<xs:element name="LocationOnMedia" type="BxfSmpteDateTime" minOccurs="0"/>
												<xs:element name="ResultTags" type="BxfText" minOccurs="0" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Credits" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Credits associated with the media or specific tagged location.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Name" type="BxfContact">
										<xs:annotation>
											<xs:documentation>The name of the person associated with the credit, though additional information is available through full use of full contact details.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Role" type="BxfText">
										<xs:annotation>
											<xs:documentation>The role played for the tagged media</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Accreditation" type="BxfText" minOccurs="0">
										<xs:annotation>
											<xs:documentation>If appropriate, the accreditation of the named player in the tagged media.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="LocationDetails" minOccurs="0">
							<xs:annotation>
								<xs:documentation>For each tag, a speciific location in space using generic textual description of specific GPS coordinates.  This data is often captured as part of the filming from camera data.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Location" type="BxfText" minOccurs="0"/>
									<xs:element name="GPSData" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Needs to be defined based on camera capture details</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Latitude" type="xs:decimal"/>
												<xs:element name="Longitude" type="xs:decimal"/>
												<xs:element name="Elevation" type="xs:decimal" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PrivateInformation" type="BxfPrivateInformation"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContentMetaData">
		<xs:annotation>
			<xs:documentation>Used to describe all the metadata for a single instance of content. (Note that this element name might be expected to be “ContentMetadata”, but was left unchanged from previous versions in order to preserve backward compatibility.  This is a documented exception as of v3.0)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContentId" type="BxfContentId"/>
			<xs:element name="Name" type="BxfText" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DefaultLength" type="BxfDuration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to indicate the default length of the content</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Genre" type="BxfText" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Description" type="BxfText" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UsagePolicy" type="UsagePolicy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Business rules expected to be applied when the content is used at this location</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Media" type="Media" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BillBoard" type="BillBoard" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DataExtensions" type="BxfExtensions" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used to add an unlimited amount of descriptive metadata for the content. (v3.0)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Synopses" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allow the addition of one or more synopses of various lengths and for different purposes in multiple languages (v5.0)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Synopsis" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="BxfText">
										<xs:attribute name="synopsisName" type="xs:string"/>
										<xs:attribute name="synopsisMaxLength" type="xs:integer">
											<xs:annotation>
												<xs:documentation>Indicates the maximum number of characters expected in the element. If set to -1 then the field is unlimited.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="synopsisPurpose" type="xs:string">
											<xs:annotation>
												<xs:documentation>Optional way to flag a specific type of synopsis (eg TVGuide, Nielsen, EPG, etc.)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContentDetails" type="ContentDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Description of people, events, sports results, and word tags to search for things that represent this media (v5.0).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="Action-ErrorGroup"/>
	</xs:complexType>
	<xs:complexType name="Media">
		<xs:annotation>
			<xs:documentation>Base Media combined with Media Location</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseMedia">
				<xs:sequence maxOccurs="unbounded">
					<xs:element name="MediaLocation" type="MediaLocation"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MediaLocation">
		<xs:annotation>
			<xs:documentation>Used to designate the physical location of a media essence and its quality</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Location" type="Location">
				<xs:annotation>
					<xs:documentation>Identification of where the media is stored. Used by systems to notify locations of essence instance</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SOM" type="BxfSmpteTime">
				<xs:annotation>
					<xs:documentation>The start of message location of the content on the media it is stored.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration">
				<xs:annotation>
					<xs:documentation>The length of the content specified.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="BxfDuration">
							<xs:attribute name="useEOM" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>If set to yes, populate EOM with a prtoper value to be used.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="EOM" type="BxfSmpteTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The end of message location of the content on the media it is stored.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArchiveGroup" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An identifier to allow assignment to a specific archive group or repository</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ArchiveName" type="BxfText">
							<xs:annotation>
								<xs:documentation>Name of the archive</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PhysicalLocation" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Location of the archive</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Dimension" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="QualityControl" type="QualityControl" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Media often must be checked for its quality each time it is copied or moved to another location.  Multiple checks are typical to confirm that the audio, video and other attributes meet the standards of the intended usage. (v5.0)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="sourceType" default="Primary">
			<xs:annotation>
				<xs:documentation>Indicate either primary or backup as the source for the media</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Primary"/>
					<xs:enumeration value="Backup"/>
					<xs:enumeration value="Preview"/>
					<xs:enumeration value="Proxy"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="qualifier" type="xs:string">
			<xs:annotation>
				<xs:documentation>Used to clarify between two media of the same sourceType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="Action-ErrorGroup"/>
	</xs:complexType>
	<xs:complexType name="UsagePolicy">
		<xs:sequence>
			<xs:element name="AssignedChannels" type="BxfShortName" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of Channels on which this content can be aired</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmbargoDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The first date the content may be used</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstAirDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>First planned schedule date for this content</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:dateTime">
							<xs:attribute name="dayOfWeek" type="DayPattern">
								<xs:annotation>
									<xs:documentation>Used to specify the actual day of week for the first airdate. Eg. A 7 element binary representation of the days of the week in Monday-Sunday order where a 1 includes the day and a 0 excludes the day 
(e.g. 1 0 0 0 0 0 0 = Monday) (v8.0)</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ExpirationDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date after which content should not be aired</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurgeDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date after which content can be purged</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HiatusDateRange" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to indicate a date range when the content should not be shown.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="HiatusStartDate" type="xs:dateTime"/>
						<xs:element name="HiatusEndDate" type="xs:dateTime" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Exclusions" type="BxfExtensions" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Allows unlimited defined values to be excluded as part of the UsagePolicy. (v3.0)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmbeddedRights" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to describe the rights held within a piece of content that differ from the rest of the content's rights.  For example, music embedded in a program, or a special event shown as part of an anthology program.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlatformType" type="BxfText" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used to indicate the platform the content playout is on (eg. Linear, VOD, etc.). (v7.0)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="Action-ErrorGroup"/>
	</xs:complexType>
</xs:schema>
