schema/schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2018 Society of Motion Picture and Television Engineers. All rights reserved. -->
<xs:schema xmlns="http://smpte-ra.org/schemas/2021/2018/BXF" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pmcp="http://www.atsc.org/XMLSchemas/pmcp/2007/3.1" targetNamespace="http://smpte-ra.org/schemas/2021/2018/BXF" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6.000">
	<xs:include schemaLocation="asrun.xsd"/>
	<xs:include schemaLocation="bxfchannel.xsd"/>
	<xs:include schemaLocation="bxftypes.xsd"/>
	<xs:include schemaLocation="scheduledevent.xsd"/>
	<xs:complexType name="Schedule">
		<xs:annotation>
			<xs:documentation>A schedule</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Channel" type="Channel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ATSC Channel Defninition used in PMCP</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduleName" type="BxfText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A name to describe the schedule</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="ScheduledEvent" type="ScheduledEvent" maxOccurs="unbounded"/>
				<xs:element name="AsRun" maxOccurs="unbounded">
					<xs:complexType>
						<xs:choice>
							<xs:element name="CompleteAsRun" type="CompleteAsRun"/>
							<xs:element name="BasicAsRun" type="BasicAsRun"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="RealTimeDetail" minOccurs="0">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="EventId" type="EventExtId">
							<xs:annotation>
								<xs:documentation>Links to the events as described in ScheduledEvent if in the future or in the AsRun if current or in the past. Can be null if the event was added manually.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RealTimeSequence" type="xs:integer">
							<xs:annotation>
								<xs:documentation>If zero, indicates the current airing event; if negative, indicates that the event was in the past and has aired; if positive, indicates an event that will air.  The integer number indicates the sequence order going forward or backward in time. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EventStartTime" type="BxfDateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Either the actual start time if the event already aired or is airing or the expected start time if in the future.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PlayoutRestrictions" type="PlayoutRestrictions" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used to define what is allowed or restricted to the viewing of content in different venues (locations, devices, etc.) and the provisioning of alternative content when this happens.  Each Venue may have only one replacement option or null. (v4.0)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="ScheduleType" use="required">
			<xs:annotation>
				<xs:documentation>Primary or Alternate Schedule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scheduleId" type="Uuid" use="required">
			<xs:annotation>
				<xs:documentation>A unique identifier for the schedule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dayPattern" type="DayPattern">
			<xs:annotation>
				<xs:documentation>A binary representation of the days of the week with Monday in the left-most position (eg - "1111100" = M-F)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scheduleStart" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>Date and Time of the start of a schedule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scheduleEnd" type="xs:dateTime" use="optional">
			<xs:annotation>
				<xs:documentation>Date and Time of the End of the schedule</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="invokeSchedule" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Used to remotely invoke an alternate schedule to become active</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="Action-ErrorGroup"/>
	</xs:complexType>
	<xs:complexType name="PlayoutRestrictions">
		<xs:annotation>
			<xs:documentation>Used to establish how content on a schedule can be veiwed by defining what is allowed or restricted across various parameters: geography, screen types, operating systems, feature set, or minimum software version.  If viewing is restricted, there is an option to provision alternative content.  VewingOptions is recursive.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Period">
				<xs:annotation>
					<xs:documentation>The period during which the restriction for the venue applies.  Either the full normal length of the schedule or a defined period when it is restricted.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="FullLength" type="xs:boolean" default="1"/>
						<xs:element name="PartialDaypart" type="BxfDaypart"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReplacementSchedule">
				<xs:annotation>
					<xs:documentation>Content that will be provided to the viewer in place of the regularly scheduled content for the specific vewing option when it is a restriction.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="NoReplacement" default="1">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:boolean"/>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:sequence>
							<xs:element name="ReplacementScheduleName" type="BxfText" minOccurs="0"/>
							<xs:element name="ReplacementScheduledEvent" type="ScheduledEvent" minOccurs="0"/>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="PlayoutRestrictions" type="PlayoutRestrictions" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Added to the structure to allow an unlimited tree structure of various "Allow" and "Restrict" combinations.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="playoutRestrictionType" use="required">
			<xs:annotation>
				<xs:documentation>Select either to Allow or Restrict</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Allow"/>
					<xs:enumeration value="Restrict"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="reason" type="xs:string">
			<xs:annotation>
				<xs:documentation>Text that describes reason for the restriction or where viewing is allowed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="geography" type="xs:string">
			<xs:annotation>
				<xs:documentation>Text that describes the geographic location of viewing, such as All US, Westcoast, city that is blackouted, etc.  Must be in a format that the receiving system will recognize and can be defined using Configuration.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="screenType">
			<xs:annotation>
				<xs:documentation>Defines all possible options of TV's, tablets, PC's mobile, etc from enumerated list.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="All"/>
					<xs:enumeration value="TV Only"/>
					<xs:enumeration value="All Non-TV Devices"/>
					<xs:enumeration value="Desktop Computers"/>
					<xs:enumeration value="Tablets"/>
					<xs:enumeration value="Mobile Phones"/>
					<xs:enumeration value="Tablets and Phones"/>
					<xs:enumeration value="Computers and Phones"/>
					<xs:enumeration value="Computers and Tablets"/>
					<xs:enumeration value="Other"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="operatingSystem">
			<xs:annotation>
				<xs:documentation>All major current OS options in enumerated list.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Android"/>
					<xs:enumeration value="Linux"/>
					<xs:enumeration value="MAC-OSX"/>
					<xs:enumeration value="OSI"/>
					<xs:enumeration value="PC-Windows"/>
					<xs:enumeration value="Unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="featureSet">
			<xs:annotation>
				<xs:documentation>Same options as defined by OATC</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="DigitalOutput"/>
					<xs:enumeration value="LocationAware"/>
					<xs:enumeration value="LocalStorage"/>
					<xs:enumeration value="AnalogOutput"/>
					<xs:enumeration value="HDCP"/>
					<xs:enumeration value="FastForward"/>
					<xs:enumeration value="ProgrammerBrandingRequired"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="minVersion" type="xs:decimal">
			<xs:annotation>
				<xs:documentation>A defined version level of the OS that is the minimum allowed to be able to take advantage of the viewing.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="Action-ErrorGroup"/>
	</xs:complexType>
</xs:schema>
