schema/scheduledevent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2018 Society of Motion Picture and Television Engineers. All rights reserved. -->
<xs:schema xmlns="http://smpte-ra.org/schemas/2021/2018/BXF" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pmcp="http://www.atsc.org/XMLSchemas/pmcp/2007/3.1" targetNamespace="http://smpte-ra.org/schemas/2021/2018/BXF" elementFormDefault="qualified" attributeFormDefault="unqualified" version="6.000">
	<xs:include schemaLocation="bxfparentalrating.xsd"/>
	<xs:include schemaLocation="schedule.xsd"/>
	<xs:include schemaLocation="bxftypes.xsd"/>
	<xs:include schemaLocation="contentmetadata.xsd"/>
	<xs:include schemaLocation="eventdata.xsd"/>
	<xs:include schemaLocation="format.xsd"/>
	<xs:complexType name="ScheduledEvent">
		<xs:sequence>
			<xs:element name="EventData" type="EventData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the data for the complete show or a single event</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Content" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is not expected to be present for comments, program headers and break headers, but is expected in all other cases.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="ContentMetaData">
							<xs:sequence minOccurs="0">
								<xs:element name="ContentDetail" type="Content" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AlternateAudioContent" type="AlternateAudioContent" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>If audio not directly associated with the primary video content is scheduled to run with the video a separate content for just this audio must be indicated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContentType" type="BxfText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to describe the type of content (eg. network, local, entertainment, news) (See Configuration Section in BXF Protocol Documentation)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Format" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element name="Formats" type="Format">
							<xs:annotation>
								<xs:documentation>The definition of the empty structure of a program as used by the traffic system to construct a schedule grid.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FormatId" type="Uuid">
							<xs:annotation>
								<xs:documentation>The unique identifier for a format</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="ScheduleElements" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies the elemental structure of the show</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EventData" type="EventData" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Specifies the data for the complete show or a single event</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:choice minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Added a choice option to create the ability to supply multiple content elements to a single schedule element and maintain historical consistency. (v4.0)</xs:documentation>
							</xs:annotation>
							<xs:element name="Content">
								<xs:annotation>
									<xs:documentation>This is not expected to be present for comments, program headers and break headers, but is expected in all other cases.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="ContentMetaData"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="MultiContent" type="Content">
								<xs:annotation>
									<xs:documentation>Intended in cases where you would have more than one program content embedded within a single program such as compilation programs, cartoons, etc. (v4.0)</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:element name="AlternateAudioContent" type="AlternateAudioContent" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>If audio not directly associated with the primary video content is scheduled to run with the video a separate content for just this audio must be indicated.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Series" type="Series" minOccurs="0"/>
			<xs:element name="ParentalRating" type="BxfParentalRating" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Parental rating for the show for one region (PMCP)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EiCode" type="EiCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used for FCC Education/Information Children's code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContentPlayNumber" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The play number value relative to the contract used to authorize the content or the total times the content has been used on the schedule.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PremiereFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to indicate that this is the first airing of the content on this schedule.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastPlayFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to indicate that this is the last airing of the content on this schedule.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransformationOutput" type="BaseMedia" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to create a transformation of the video from its current stored value to a different transmission value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlternateScheduleEventFlag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allows linkage to standby promo content or other content that serve as backups or alternatives to content that may be missing at airtime.  Must be set to "1" and include a LinkedEventId that indicates which event this is a backup to.  Note that there is also a new AlternateEvent element that allows the definition of alternative content underneath a specific Event.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attribute name="LinkedEventId" type="Uuid" use="required">
								<xs:annotation>
									<xs:documentation>Must match to an existing EventId defined earlier</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PlayoutRestrictions" type="PlayoutRestrictions" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used to define what is allowed or restricted to the viewing of content in different venues (locations, devices, etc.) and the provisioning of alternative content when this happens.  Each Venue may have only one replacement option or null.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="excludeFromEPG" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>Use to indicate to down stream systems that the event name and metadata should not be displayed in the user EPG.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attributeGroup ref="Action-ErrorGroup"/>
	</xs:complexType>
	<xs:complexType name="Series">
		<xs:sequence>
			<xs:element name="SeriesName" type="BxfText">
				<xs:annotation>
					<xs:documentation>The name assigned to represent a related group of produced content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EpisodeName" type="BxfText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A distinct name (within the series) assigned by the producer of the content.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EpisodeCode" type="BxfText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The identifier that uniquely specifies a title in a series</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Season" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A date range that indicates the period of time in which the episode was originally produced</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SeasonName" type="BxfText">
							<xs:annotation>
								<xs:documentation>The name used to reference the season period</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StartDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Start date of the season</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EndDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>End date of the season</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SeasonCode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the value for the season within the full episode code.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SeriesCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The series prefix or code that applies to all episodes that are part of the series - eg. SESA for Sesame Street.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EpisodeNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The value associated with the epsiode relative to the full EpisodeCode (eg. SESAHDBA0110 then this would be 0110).  May contain non-numeric characters.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Producers" type="BxfCompany" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Companies that are involved in the production or distribution of the series.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Synopses" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allow the addition of one or more synopses of various lengths and for different purposes in multiple languages. (v5.0)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Synopsis" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="BxfText">
										<xs:attribute name="synopsisName" type="xs:string"/>
										<xs:attribute name="synopsisMaxLength" type="xs:integer">
											<xs:annotation>
												<xs:documentation>Indicates the maximum number of characters expected in the element. If set to -1 then the field is unlimited.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="synopsisPurpose" type="xs:string">
											<xs:annotation>
												<xs:documentation>Optional way to flag a specific type of synopsis (eg TVGuide, Nielsen, EPG, etc.)</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PrivateInformation" type="BxfPrivateInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="Action-ErrorGroup"/>
	</xs:complexType>
</xs:schema>
